.employeeSearch {
    width: 50%;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 11px;
}
.search-form{ 
    justify-content: center; 
}
.text-center{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
}